@import url('https://fonts.googleapis.com/css?family=Lato|Oswald&display=swap:100,200,300,400,500,600,700');

body {
    background-image: url("../images/coding-image.jpg");
    height:150vh;
    background-repeat: no-repeat;
    background-size: auto;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    
    

    font-family:'Lato', sans-serif;
}

/*-------------------------------------------Navbar*/

.logo {
    font:bolder;
    font-weight: 700;
}

.navbar-light .navbar-nav .nav-link{
    color: black;
}

/*-------------------------------------------Heading*/

.name {
    margin-top: 30px;
}

.title {
    margin-top: 20px;
    margin-bottom: 30px;
    color:#6b0909;
    font-weight: 700;
    }

/*-------------------------------------------Paragraph text*/

.col-6-heading p {
    color:#6b0909;
    font-weight: bold;
    }

/*-------------------------------------------Experience*/

.experience  {
    margin-top: 30px;
    color:#6b0909
}

.timeline-item {
    padding: 4em 2em 0em 2em;
    position: relative;
    color: #6b0909;
    font-weight: 700;
    border-left: .5em solid;
}
.timeline-item p {
    padding: 0;
    margin: 0;
}
.timeline-item:before {
    content: attr(data-dates);
    position: absolute;
    left: 2.5em;
    top: 3em;
    display: block;
    font-weight: 700;
    font-size: 0.8em;
    padding: 0;
    margin: 0;
}
.timeline-item:after {
    width: 12px;
    height: 12px;
    display: block;
    top: 2.4em;
    position: absolute;
    left: -0px;
    border-radius: 12px;
    content: '';
    background: #6b0909;
}

.timeline-item h6 {
    font-weight: 700;
}

.timeline-item p {
    font-weight: 600;
}



/*-------------------------------------------Footer*/

.footer{
   position: absolute;
   bottom: 0;
   width: 100%;
   height: 50%;
   text-align:center;
}

.footer-row {
    position: bottom;
    text-align: center
}

.list-inline .social-links li a i { 
    text-align:center;
}

