@import url('https://fonts.googleapis.com/css?family=Lato|Oswald&display=swap:100,200,300,400,500,600,700');

/* body.page-id-1 {
    height:150vh;
    background-repeat: no-repeat;
    background-size: auto;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    
    font-family:'Lato', sans-serif;
} */

/* ------------------------- Every Page -------------------*/
body {
    background-color: #D3D3D3;
    font-family: 'Lato', sans-serif;
    display: flex;
    flex-direction: column;
}



/*-------------------------------------------Navbar*/

.navbar {
    background-color: #2E3346;
}

.navbar-nav {
    background-color: #2E3346;
}

.nav-item a {
    display: block;
    color: white;
    /* padding: 8px 5px; */
}

/* Change the link color on hover */
.nav-item a:hover {
    background-color: #FF5B98;
    color: #FFC359;
}


.navbar-brand {
    color: white;
    font: bolder;
    font-weight: 700;
    text-decoration: none;
    font-size: 1.75em;
}

.navbar-brand:hover {
    background-color: #FF5B98;
    color: #FFC359;
}

.navbar-toggler {
    width: 40px;
    height: 34px;
    background-color: #D3D3D3
}

.navbar-toggler-icon {
    width: 100%;
    float: right;
    height: 1px;
    background-color: black;
    margin-bottom: 1px;
}

/*-------------------------------------------Footer*/

.footer {
    flex-shrink: 0;
    bottom: 0;
    width: 100%;
    height: 3em;
    text-align: center;
}

.footer-row {
    margin-top: 4em;
    position: bottom;
    text-align: center
}

.footer .list-inline .social-links li a i {
    text-align: center;
}


/* ------------------------- Home Page Content-------------------*/

.home-page-content {
    margin-top: .5em;
    color: white;
    background-color: #0087DF;
    border-radius: 1.5em;
    padding-top: 0.0em;
    border: 0.5em solid #0076E8;
    height: 100%;

}

.home-page-content {
    position:relative;
}

.home-page-content p {
    position: relative;
    padding-left: .75em;
    font-size: 1.25em;
}

/* Parent */ 
.home-page-content .home-page-flex1{
    margin-top: 1em;
    margin-bottom: 2em;
    display: flex; 
    flex-wrap: wrap; 
    flex-flow: row wrap;
}

.home-page-content .home-page-flex2 {
    display: flex; 
    flex-wrap: wrap; 
}

/* Child 1 */ 
.home-page-content .home-page-titles {
    flex: 1;
    flex-basis: 250px;
}

/* Child 1-1 */ 
.home-page-content h1 {
    margin-top: 1.1em;
    font-size: 4em ;
    color: white;
}

/* Child 1-2 */ 
.home-page-content h5 {
    /* margin: 0 auto; */
    margin-top: 0.5em;
    color: white;
    font-size: 1.5em;
    font-weight: 500;
}

/* Child 2 */ 
.home-page-content .home-page-picture {
    text-align: center;
    width: 50%;
}

/* Child 2-1 */ 
.profile-picture {
    margin: 0 auto;
    margin-right: 95px;
    width: 15.625em;
    height: 15.625em;
    border-radius: 50%;


    background-image: url("../images/BobHerold.jpg");
    background-position: 0em -2em; 
    background-size: cover;

    border: 0.2em solid #0076E8;
}

/*-------------------------------------------Paragraph text*/

/*.col-6-heading p {
    color:#6b0909;
    font-weight: bold;
} */



/* ------------------------- Experience Timeline -------------------*/


/* ----All css code below is from Siddharth Panchal; 
"Timeline Using CSS"
Bootstrap 4.1.1 Snippet by Siddharth Panchal;  https://bootsnipp.com/snippets/Q0ppE  ;
 
  I have modified the background, arrow, and inner content colors of the timeline elements to match mycolor.space Generic & Matching Gradient
   color palette for my base color of #475CDA========= */

.container {
    margin-top: 3em;
}


.timeline-content a {
    text-decoration: none
}

.timeline-content h3 {
    text-align: center;
    margin: 30px 0;
    color: #444
}


 .timeline-padding {
    overflow:hidden;
    position:relative;
    content:"";
    width:7px;
    height:100%;
    background:white;
    position:absolute;
    top:0;left:50%;
    transform:translateX(-50%);
} 

.main-timeline {
    overflow: hidden;
    position: relative;
}

.main-timeline:before {
    content: "";
    width: 7px;
    height: 100%;
    background: white;
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
}

/*TODO: Adjust media queries for smaller resolutions*/
.main-timeline .timeline-element:nth-child(odd) .title {
    padding-right: 1.25em;
}

/* .main-timeline .timeline-element:nth-child(even) .title {
    padding-left: -0.75em;
} */

.main-timeline .timeline-element {
    width: 50%;
    padding-left: 50px;
    float: right;
    position: relative;
}


.main-timeline .timeline-element:after,
.main-timeline .timeline-element:before {
    position: absolute;
    content: "";
    top: 50%;
    transform: translateY(-50%);
}


.main-timeline .timeline-element:before {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: white;
    border: 7px solid #2E3346;
    left: -15px;
}


.main-timeline .timeline-element:after {
    display: block;
    border-right: 30px solid #FF5B98;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    left: 24px;
}

.main-timeline .timeline-content {
    display: block;
    padding: 25px;
    border-radius: 100px;
    background: #FF5B98;
    position: relative;
}

.main-timeline .timeline-element:nth-child(1) .inner-content .title 
{
    color: #FF5B98;
}


.main-timeline .timeline-content:after,
.main-timeline .timeline-content:before {
    content: "";
    display: block;
    width: 100%;
    clear: both;
}


.main-timeline .timeline-content:hover {
    text-decoration: none;
}


.main-timeline .inner-content {
    width: 70%;
    float: right;
    padding: 15px 20px 15px 15px;
    background: #2E3346;
    border-radius: 0 100px 100px 0;
    color: #FF5B98;
}


.main-timeline .year {
    display: inline-block;
    font-size: 50px;
    font-weight: 600;
    color: #2E3346;
    position: absolute;
    top: 50%;
    left: 7%;
    transform: translateY(-50%);
}


.main-timeline .title {
    font-size: 0.938em;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0 0 5px;
}


.main-timeline .description {
    font-size: 14px;
    margin: 0 0 5px;
}


.main-timeline .timeline-element:nth-child(2n) {
    padding: 0 50px 0 0;
}


.main-timeline .timeline-element:nth-child(2n) .year,
.main-timeline .timeline-element:nth-child(2n):before {
    left: auto;
    right: -15px;
}


.main-timeline .timeline-element:nth-child(2n) .year {
    right: 7%;
}


.main-timeline .timeline-element:nth-child(2n):after {
    border-right: none;
    border-left: 30px solid #ee4423;
    left: auto;
    right: 24px;
    border-left-color: #FFC359;
}


.main-timeline .timeline-element:nth-child(2n) .inner-content {
    float: none;
    border-radius: 100px 0 0 100px;
    text-align: right;
}


.main-timeline .timeline-element:nth-child(2) {
    margin-top: 130px;
}


.main-timeline .timeline-element:nth-child(odd) {
    margin: -130px 0 0;
}


.main-timeline .timeline-element:nth-child(even) {
    margin-bottom: 80px;
}


.main-timeline .timeline-element:first-child,
.main-timeline .timeline-element:last-child:nth-child(even) {
    margin: 0;
}


.main-timeline .timeline-element:nth-child(2n) .timeline-content {
    background: #FFC359;

}

.main-timeline .timeline-element:nth-child(2n),
.main-timeline .timeline-element:nth-child(2n) .inner-content
{
    color: #FFC359;
}

.main-timeline .timeline-element:nth-child(2) .inner-content .title 
{
    color: #FFC359;
}


.main-timeline .timeline-element:nth-child(3n) .timeline-content {
    background: #0091C2;
}

.main-timeline .timeline-element:nth-child(3) .inner-content .title 
{
    color: #0091C2;
}

.main-timeline .timeline-element:nth-child(3n),
.main-timeline .timeline-element:nth-child(3n) .inner-content {
    color: #0091C2;
}


.main-timeline .timeline-element:nth-child(3n):after {
    border-right-color: #2991d0;
}

.main-timeline .timeline-element:nth-child(4n) .timeline-content {
    background: #CC50C3;
}

.main-timeline .timeline-element:nth-child(4) .inner-content .title 
{
    color: #CC50C3;
}

.main-timeline .timeline-element:nth-child(4n),
.main-timeline .timeline-element:nth-child(4n) .inner-content {
    color: #CC50C3;
}

.main-timeline .timeline-element:nth-child(4n):after {
    border-left-color: #CC50C3;
}

.main-timeline .timeline-element:nth-child(5n) .timeline-content {
    background: #009D73;
}

.main-timeline .timeline-element:nth-child(5) .inner-content .title 
{
    color: #009D73;
}

.main-timeline .timeline-element:nth-child(5n),
.main-timeline .timeline-element:nth-child(5n) .inner-content {
    color: #009D73;
}

.main-timeline .timeline-element:nth-child(5n):after {
    border-right-color: #009D73;
}

@media only screen and (max-width:1200px) {
    .main-timeline .inner-content {
        width: 80%;
    }

    .main-timeline .year {
        font-size: 45px;
        left: 10px;
        transform: translateY(-50%) rotate(-90deg);
    }

    .main-timeline .timeline-element:nth-child(2n) .year {
        right: 10px;
    }

    @media only screen and (max-width:990px) {
        .main-timeline .year {
            font-size: 40px;
            left: 0
        }

        .main-timeline .timeline-element:nth-child(2n) .year {
            right: 0
        }
    }

    @media only screen and (max-width:767px) {

        .main-timeline .timeline-element:before,
        .main-timeline:before {
            left: 10px;
            transform: translateX(0)
        }

        .main-timeline .timeline-element:nth-child(2n):after {
            border-left: none;
            border-right: 30px solid #ee4423;
            right: auto;
            left: 24px;
            border-right-color: #f68829;
        }

        .main-timeline .timeline-element,
        .main-timeline .timeline-element:nth-child(even),
        .main-timeline .timeline-element:nth-child(odd) {
            width: 100%;
            float: none;
            margin: 0 0 30px;
        }

        .main-timeline .timeline-element:last-child {
            margin-bottom: 0;
        }

        .main-timeline .timeline-element:nth-child(2n) {
            padding: 0 0 0 50px;
        }

        .main-timeline .timeline-element:before,
        .main-timeline .timeline-element:nth-child(2n):before {
            left: -2px;
        }

        .main-timeline .inner-content {
            width: 85%;
        }

        .main-timeline .timeline-element:nth-child(2n) .inner-content {
            float: right;
            border-radius: 0 100px 100px 0;
            text-align: left;
        }

        .main-timeline .timeline-element:nth-child(2n) .year {
            right: auto;
            left: 0;
        }

        .main-timeline .timeline-element:nth-child(3n):after {
            border-left-color: #2991d0;
        }

        .main-timeline .timeline-element:nth-child(4n):after {
            border-right-color: #9361aa;
        }

        .main-timeline .timeline-element:nth-child(5n):after {
            border-left-color: #a7be26;
        }

    }

    @media only screen and (max-width:479px) {
        .main-timeline .timeline-content {
            padding: 15px;
        }

        .main-timeline .inner-content {
            width: 80%;
        }

        .main-timeline .year {
            font-size: 30px;
        }
    }
}

    /* ------------------------- End of css code from Siddharth Panchal -------------------*/



    /* ------------------------- SKILLs -------------------*/

.skills-content .col-lg-6 {
    width: 30%;
}

 .skills-content h1 {
    text-align: center;
    margin-top: 20px;
 }

.rounded-circle {
    width: 200px;
    height: 200px;
    display: inline-block;
    border-radius: 50%;
    background-color:#9B96CC;
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 128px 128px;
    background-position: 35px 40px;  
    border: 0.05em solid #475CDA;
    margin-top: 20px;
}  

.skills-content a:nth-child(even)
{
    margin-left: 25px;
}

#html {
    background-image: url("../images/HTML.png");
}

#css3 {
    background-image: url("../images/CSS.png");
}

#python {
    background-image: url("../images/Python.png");
    background-size: 256px 256px;
    background-position: -20px -25px; 
}

#javascript {
    background-image: url("../images/Javascript.png");
}

#django {
    background-image: url("../images/Django.png");
}

#bootstrap {
    background-image: url("../images/Bootstrap.png");
}

#mongodb {
    background-image: url("../images/Mongo.png");
}






/*.skills-logo-html {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-image: url("../images/html5logo.png");
    background-color: green;
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 125px 125px;
    background-position: 40px 40px; 
   

    border: 0.05em solid blue;
} */

.skills-logo-css {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-image: url("../images/css3logo.png");
    background-color: white;
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 125px 125px;
    background-position: 40px 40px; 
   

    border: 0.05em solid blue;
} 

.skills-logo-python {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-image: url("../images/pythonlogo.jpg");
    background-color: green;
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 125px 125px;
    background-position: 40px 40px; 
   

    border: 0.05em solid blue;
} 

.skills-logo-javascript {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-image: url("../images/javascriptlogo.png");
    background-color: green;
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 125px 125px;
    background-position: 40px 40px; 
   

    border: 0.05em solid blue;
} 

.skills-logo-django {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-image: url("../images/djangologo.png");
    background-color: green;
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 125px 125px;
    background-position: 40px 40px; 
   

    border: 0.05em solid blue;
} 

.skills-logo-bootstrap {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-image: url("../images/BootstrapLogo.jpg");
    background-color: green;
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 125px 125px;
    background-position: 40px 40px; 
   

    border: 0.05em solid blue;
} 

.skills-logo-mongodb {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-image: url("../images/mongoDB.png");
    background-color: green;
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 125px 125px;
    background-position: 40px 40px; 
   

    border: 0.05em solid blue;
} 

/* ------------------------- Resume -------------------*/